@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
}

body,html{
    width:100%;
    height: 100%;
    
}
header{
    position: fixed;
    top:0;
    background-color: #000;
    display:flex;
    align-items: center;
    width:100%;
    z-index: 1;
}


header .logo{
    width:70%;
}
header .logo img{
    width:5em;
    margin-left:5em;
}

header ul{
    list-style: none;
    display: flex;
    
}

header ul li {
    width:5em;
    margin-right:1em;
    text-align: center;
}
header ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 140%;
    position: relative;
    
}

header ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top:100%;
    left:50%;
    transform: translateX(-50%); /* thanh trắng di chuyen theo trục X cua thẻ after*/
    background-color: #fff;
    transition: width 0.3s;/*thêm effect hiện width khi hover */
}

header ul li a:hover::after{
    width:50%;
    transition: width 0.3s;
}

.landing{
    width:100%;
    height: 100%;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1508179522353-11ba468c4a1c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.landing .textbox{
    color:#fff;
    position: absolute;
    bottom:10%;
    left:5%;
}
.landing .textbox p{
    font-size: 50px;
    font-weight: 600;
}
.landing.textbox h1{
    font-size: 10em;
    color:transparent;
    -webkit-text-stroke: 1px #fff; /* tạo ra viền ngoài của text*/
    background:url(images/back.png);
    -webkit-background-clip: text;/* background chỉ ở bên trong text */
    background-position: 0 0;/* vị trí x:0 y:0*/
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.textbox h3{
    margin-top: 1%;
    font-size:45px;
    font-weight: 600;
    letter-spacing: 3px;
    
}

.textbox .description{
    display: flex;
    align-items: center;
    margin-top: 4%;
}

.description a{
    color:#fff;
    text-decoration: none;
    padding:1em 2em;
    border:1px solid #fff;
    margin:0 1%;
}
.description a:hover{
    background-image:linear-gradient(30deg,rgba(255, 255, 255, 0.3) 50%, rgb(202, 202, 202) 100%);
    animation: texts 1s linear ;
    
}
@keyframes texts {
    100%{
        background-position: 300px 0;
    }
}
.connect{
    vertical-align: middle;
}
.description span{
    font-size: 110%;
}

/* nav bar */
body nav{
    position: fixed;
    right:0;
    top:30%;
    z-index: 1;
}

body nav ul{
    list-style: none;
}
body nav ul li{
    padding:1em;

}
body nav ul li a{
    color:#000;
    text-decoration: none;
    padding-right: 1%;
    font-size: 1.5em;
}
body nav ul li a.l1:hover{
    color:#4267B2;
    font-size: 3em;
    transition: 1s ease;
}

body nav ul li a.l2:hover{
  font-size:3em;
  transition: 1s ease;
  color:#D25565;
}

body nav ul li a.l3:hover{
  font-size:3em;
  transition: 1s ease;
  color:#2E94B9;
}

/* parallax */
.information .parallax{
    
    position: relative;
    opacity: 0.8;
    width: 100%;
    height:50vh;/* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.information .image1{
    background-image:url("https://img.freepik.com/free-vector/neon-design-colorful-background_23-2149084790.jpg?size=626&ext=jpg");
}
.information .image2{
    background-image:url("https://image.freepik.com/free-vector/realistic-motion-neon-lights-background_52683-65167.jpg");
}
.information .image3{
    background-image: url("https://image.freepik.com/free-vector/golden-violet-speed-neon-lights-background_23-2148621358.jpg");
}
body .parallax .ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    
}
body .parallax .ptext span{
    color:#fff;
    padding:20px;
    background-color: #000;
    letter-spacing: 8px;
    opacity:0.8;
}

.sec1,.sec2{
    text-align:center;
    padding:3em 3em;
    background-color: #f4f4f4;
    color: #666;
    
}
/* section1 */
.sec1 h1{
    margin-bottom: 1em ;
}
.sec1 .work{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sec1  figure img{
    width:300px;
    height:200px;
}

.sec1 .playground{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* sec2 */
.sec2{
    display: grid;
    grid-template-columns: 12em auto;
    grid-template-rows: repeat(2,auto);


}
.sec2 h1{
    grid-row:1/2;
    grid-column: 1/3;
    font-size: 27px;
    
}
.sec2 .about-me-img{
    grid-row:2/3;
    grid-column:1/2;
}
.sec2 p{
    grid-row:2/3;
    grid-column: 2/3;
    text-align: left;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.sec2 .about-me-img img{
    width:10em;
    border-radius: 50%;
    margin:1em 0;
    
}

/* sec3 */
.sec3{
    padding:3em 3em;
    background-color: #f4f4f4;
    color: #666;
    
}
.sec3 .contact-title{
    text-align: center;
    
}
.sec3 form{
    margin:1em auto;
    width:50%;
}
.sec3 form .row {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    
}
.sec3 form .row .email{
    margin-left: 3em;
}
.sec3 form .row2 {
    display: flex;
    flex-direction: column;
}
.sec3 label{
    font-size:1em;
}
.sec3 input{
    width: 100%;
    margin:0.5em 0;
    padding-left:0.5em;
    height: 2em;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color:transparent;
}
.sec3 textarea{
    font-size: 1em;
    padding: 0.5em;
    margin:0.5em 0;
}
.sec3 .message{
    text-align: center;
}
.sec3 .message button{
    padding:1em 5em;
    background: #084acfef;
    color:#fff;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border:none;
    border-radius: 30px;
    cursor: pointer;
    
    
    
    
}
.sec3 button:hover{
    background:#3770e0;
}

@media screen and (max-width:475px) {
    body{
        width:100%;
        overflow: auto;
    }
    body header{
        width:100%;
    }
    body header .logo img{
        width:2.5em;
        margin:2%
    }
    body .landing .textbox p{
        font-size:1.5em;
    }
    body .landing .textbox h1{
        font-size: 4em;
        color:transparent;
        -webkit-text-stroke: 1px #fff; /* tạo ra viền ngoài của text*/
        background:url(images/back.png);
        -webkit-background-clip: text;/* background chỉ ở bên trong text */
        background-position: 0 0;/* vị trí x:0 y:0*/
        animation: back 20s linear infinite;
    }
    body .landing .textbox h3{
        font-size: 2em;
    }
    body .landing .description a
    {
        padding: 0.5em 1em;
    }
    body .landing .description span{
        font-size: 0.9em;
    }
    
    .sec1 figure{
        margin-top:1em;
    }
    .sec2{
        display: block;
    }
    .sec2 h1{
        padding-bottom: 0.5em;
    }
    .sec2 .about-me-img{
        float:right;
    }
    .sec2 p{
        display: block;
    }
    .sec3 form{
        width: 100%;
    }
}